################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjetoBenner/.vs
/ProjetoBenner/ProjetoBenner/bin
/ProjetoBenner/ProjetoBenner/obj/Debug
/ProjetoBenner/ProjetoBenner/Properties
*.config
