<div class="formulario">
    <form action="/Endereco/AdicionarEndereco" method="post" class="navbar-search form">
        <label>
            Cep:
            <input name="endereco.CEP" type="text" id="cep" value="" size="60" maxlength="9"
                   onblur="pesquisacep(this.value);" class="form-control" />
        </label><br />
        <div class="form-row">

            <div class="form-group col-md-9">
                <label>
                    Rua:
                    <input name="endereco.Rua" type="text" id="rua" size="60" class="form-control" />
                </label><br />
            </div>
            <div class="form-group col-md-3">
                <label>
                    Número:
                    <input name="endereco.Numero" type="text" id="numero" size="10" class="form-control" />
                </label><br />
            </div>
            <div class="form-group col-md-5">
                <label>
                    Bairro:
                    <input name="endereco.Bairro" type="text" id="bairro" size="40" class="form-control" />
                </label><br />
            </div>
            <div class="form-group col-md-5">
                <label>
                    Cidade:
                    <input name="endereco.Cidade" type="text" id="cidade" size="40" class="form-control" />
                </label><br />
            </div>
            <div class="form-group col-md-2">
                <label>
                    Estado:
                    <input name="endereco.UF" type="text" id="uf" size="1" class="form-control" />
                </label><br />
            </div>
            <div class="input-group">
                <div class="input-group-append">
                    <button class="btn btn-primary botao" type="submit">
                        <i class="fas fa-search fa-sm">Salvar</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>