
a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    font-size: 115%;
}

a:active {
    color: #ffffff;
    text-decoration: underline;
}

li {
    text-align: center;
    font-size: 110%;
}

.botao{
    border: 1px solid;
    border-radius: 50px;
}

.form {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    min-height: 40%;
    height: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.formulario {
    border: 5px solid black;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 40%;
    max-height: 70%;
    min-height: 10%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 40%;
    min-width: 40%;
}

#page-top {
    background-image: url(/Content/imagens/background.jpg);
    position: fixed;
    max-width: 100%;
    min-width: 100%;
}