<div class="formulario">
    <form action="/Produto/AdicionarProduto" method="post" class="navbar-search form">
        <label for="nome">Nome:</label>
        <input name="produto.Nome" id="tipo" value="@ViewBag.Produto.Nome" class="form-control" />

        <label for="preco">Preço:</label>
        <input name="produto.Preco" id="preco" value="@ViewBag.Produto.Preco" class="form-control" />

        <label for="descricao">Descrição:</label>
        <input name="produto.Descricao" id="descricao" value="@ViewBag.Produto.Descricao" class="form-control" />

        <label for="quantidade">Quantidade:</label>
        <input name="produto.Quantidade" id="quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />

        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-primary botao" type="submit">
                    <i class="fas fa-search fa-sm">Cadastrar</i>
                </button>
            </div>
        </div>
    </form>
</div>