@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Produtos</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeFuncionario"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Produtos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<section class="welcome-area">
    <div id="tb">
        <h2 class="titulo-tabela">Produtos em Estoque</h2>
        <table class="table table-hover tb">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in ViewBag.Produto)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td class="tb-td">@produto.Nome</td>
                        <td>@produto.Quantidade</td>
                        <td class="tb-td">@produto.Descricao</td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-lg btn-primary botao-edit" data-toggle="modal" data-target="#produtoModal">
            Novo Produto
        </button>
    </div>
</section>

<!-- Modal -->
<div class="modal fade produtoModal" id="produtoModal" tabindex="-1" role="dialog" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content produtoModal">
            <div class="modal-header produtoModal">
                <h5 class="modal-title" id="produtoModalLabel">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body produtoModal">
                <form action="/Produto/AdicionarProduto" method="post">
                    <div class="form-row">

                        <div class="form-group col-md-9">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="produto.Nome" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="quantidade">Quantidade:</label>
                            <input id="quantidade" name="produto.Quantidade" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label for="descricao">Descrição:</label>
                            <input id="descricao" name="produto.Descricao" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label for="preco">Preço:</label>
                            <input id="preco" name="produto.Preco" class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer produtoModal">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar Produto</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<script>
    var btn = document.querySelector('.btn4');
    btn.classList.add("active");
</script>
