<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#enderecoModal">
    Novo Produto
</button>

<!-- Modal -->
<div class="modal fade enderecoModal" id="enderecoModal" tabindex="-1" role="dialog" aria-labelledby="enderecoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content enderecoModal">
            <div class="modal-header enderecoModal">
                <h5 class="modal-title" id="enderecoModalLabel">Endereço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body enderecoModal">
                <form action="/Endereco/AdicionarEndereco" method="post">
                    <div class="form-row">

                        <div class="form-group col-md-9">
                            <label for="nome">Nome:</label>
                            <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="quantidade">Quantidade:</label>
                            <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label for="descricao">Descrição:</label>
                            <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />
                        </div>
                        <div class="form-group col-md-5">
                            <label for="preco">Preço:</label>
                            <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />
                        </div>

                    </div>
                    <div class="modal-footer enderecoModal">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar Mudanças</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>