<div class="page-header navbar-fixed-top navbar">

</div>

<div class="page-container">
    <div class="page-content-wrapper">
        <ul class="bg-gradient-primary sidebar menu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Galeria", "IndexGaleria", "Galeria")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Estoque", "IndexProduto", "Produto")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Serviços", "IndexServico", "Servico")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Perfil", "FormularioPerfilFuncionario", "Usuario")</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<footer class="page-footer-inner">
    &copy;
</footer>
