<div class="page-header navbar-fixed-top navbar">

</div>
<div class="page-container">
    <div class="page-content-wrapper">
        <ul class="bg-gradient-primary sidebar menu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Página Inicial", "IndexHome", "Home")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Galeria", "IndexGaleria", "Galeria")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Perfil", "FormularioPerfilCliente", "Usuario")</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer class="page-footer-inner">
    &copy;
</footer>