<div class="page-header navbar-fixed-top navbar">
    <img class="Logo" src="~/Content/imagens/Logo.png" />
    <span >@Html.ActionLink("Logout", "FazerLogout", "Login", new object { }, new { @class = "logout" })</span>
</div>
<div class="page-container">
    <div class="page-content-wrapper">
        <ul class="bg-gradient-primary sidebar menu">
            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Galeria", "IndexGaleria", "Galeria")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Perfil", "PerfilCliente", "Usuario")</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <span>@Html.ActionLink("Agendar Horário", "FormularioAgenda", "Agenda")</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer class="page-footer-inner">
    &copy;
</footer>