@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(/Content/imagens/carrousel.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div data-animation="fadeInUp" data-delay="100ms" class="welcome-text slider">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Confira Alguns <br> De Nossos Trabalhos</h2>
                                <a href="~/Galeria/IndexGaleria" class="btn akame-btn active" data-animation="fadeInUp" data-delay="700ms">Nossos Trabalhos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img" style="background-image: url(/Content/imagens/carrousel2.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div data-animation="fadeInUp" data-delay="100ms" class="welcome-text slider">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Venha nos <br> Conhecer</h2>
                                <p data-animation="fadeInUp" data-delay="400ms">“Satisfação Garantida”</p>
                                <a href="~/Agenda/IndexAgenda" class="btn akame-btn active" data-animation="fadeInUp" data-delay="700ms">Agendar Horário</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- About Area Start -->
<section class="akame-about-area section-padding-80-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Section Heading -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="section-heading mb-80">
                    <h2>Hair Salon</h2>
                    <p>The House of Hair Salon &amp; Spa</p>
                    <span>@Html.ActionLink("Galeria", "IndexGaleria", "Galeria")</span>
                </div>
            </div>

            <!-- About Us Thumbnail -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-thumbnail mb-80">
                    <img src="~/Content/template-img/bg-img/15.jpg" alt="">
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-thumbnail mb-80">
                    <img src="~/Content/imagens/tesoura.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
<!-- Border -->
<div class="container">
    <div class="border-top mt-3"></div>
</div>

<!-- Our Service Area Start -->
<section class="akame-service-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Nossos Serviços</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="~/Agenda/IndexAgenda">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="~/Content/template-img/core-img/s1.png" alt="">
                        <h5>Coloração</h5>
                    </div>
                </a>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="~/Agenda/IndexAgenda">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                        <img src="~/Content/template-img/core-img/s3.png" alt="">
                        <h5>Cortes</h5>
                    </div>
                </a>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="~/Agenda/IndexAgenda">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <img src="~/Content/template-img/core-img/s4.png" alt="">
                        <h5>Penteados</h5>
                    </div>
                </a>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="~/Agenda/IndexAgenda">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="800ms">

                        <img src="~/Content/template-img/core-img/s3.png" alt="">
                        <h5>Hidratação</h5>

                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- Our Service Area End -->

<script>
    var btn = document.querySelector('.btn1');
    btn.classList.add("active");
</script>