@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

@model IEnumerable<ProjetoBenner.Models.Galeria>
@{
    ViewBag.Title = "Galeria";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Galeria</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeFuncionario"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Galeria</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Portfolio Area Start -->
<section class="akame-portfolio section-padding-0-80 clearfix" >
    <div class="container ">
        <div class="row akame-portfolio-area ">
            @foreach (var item in Model)
            {
                <!-- Single Portfolio Item -->
                <div class="col-4 col-sm-3 col-lg-4 akame-portfolio-item haircuts mb-30 wow item@(item.Id)"  data-wow-delay="200ms">
                    <div class="akame-portfolio-single-item">
                        @if (item.Imagem != null)
                        {
                            var base64 = Convert.ToBase64String(item.Imagem);
                            var Imagem = String.Format("data:image/png;base64,{0}", base64);

                            <img src='@Imagem' style="max-width:100%; max-height:100%;" />

                            <!-- Overlay Content -->
                            <div class="overlay-content d-flex align-items-center justify-content-center">
                            </div>

                            <a href="@Imagem" class="thumbnail-zoom">
                                <i class="icon_search">
                                </i>
                            </a>
                        }
                    </div>

                    <a href="#" onclick="remove(@item.Id);" class="close">
                        <span class="close">&times;</span>
                    </a>
                </div>

            }
        </div>
        <div class="col-6 col-sm-3 col-lg-1 akame-portfolio-item mb-30 right" data-toggle="modal" data-target="#adicionarImagemModal">
            <div>
                <a href="#"><img src="~/content/imagens/addImagem.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Area End -->
<!-- Modal -->
<div class="modal fade adicionarImagemModal" id="adicionarImagemModal" tabindex="-1" role="dialog" aria-labelledby="adicionariImagemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content adicionarImagemModal">
            <div class="modal-header adicionarImagemModal">
                <h5 class="modal-title" id="adicionarImagemModalLabel">Adicionar Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body adicionarImagemModal">
                <div class="form-row">
                    <div class="form-group">
                        @using (Html.BeginForm("AdicionarImagem", "Galeria", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formImagem" }))
                        {
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" required />
                                </div>
                            </div>
                            <div class="modal-footer adicionarImagemModal">
                                <button class="btn btn-lg btn-primary btn-block btn-success" type="submit">Salvar Imagem</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function remove(item) {
        var url = "@Url.Action("RemoverImagens", "Galeria")";
        $(".item" + item).remove();

        $.post(url, { id: item });
    }
    

    var btn = document.querySelector('.btn3');
    btn.classList.add("active");
</script>
