@model IEnumerable<ProjetoBenner.Models.Galeria>
@{
    ViewBag.Title = "Index";
}

<div id="tb">
    <table class="table table-hover tb">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Imagem)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Imagem != null)
                {
                    <td class="tb-td">
                        @{
                            var base64 = Convert.ToBase64String(item.Imagem);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img src='@imgSrc' style="max-width:500px; max-height:500px;" />
                    </td>
                }
            </tr>
        }
    </table>
</div>