<div class="formulario">
    <form action="/Servico/AdicionarServico" method="post" class="navbar-search form">
        <label for="tipo">Tipo do Serviço:</label>
        <input name="servico.Tipo" id="tipo" value="@ViewBag.Servico.Tipo" class="form-control" />

        <label for="valor">Valor do Serviço:</label>
        <input name="servico.Valor" id="valor" value="@ViewBag.Servico.Valor" class="form-control" />

        <label for="tempo">Tempo de duração do Serviço:</label>
        <input name="servico.Tempo" id="tempo" value="@ViewBag.Servico.Tempo" class="form-control" />

        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-primary botao" type="submit">
                    <i class="fas fa-search fa-sm">Cadastrar</i>
                </button>
            </div>
        </div>
    </form>
</div>