@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Serviços</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="link-inicio" href="~/Home/IndexHomeFuncionario"><i class="icon_house_alt"></i> Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Serviços</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<section class="welcome-area">
    <div id="tb">
        <table class="table table-hover tb">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Tempo Estimado</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var servico in ViewBag.Servico)
                {
                    <tr>
                        <td>@servico.Id</td>
                        <td class="tb-td">@servico.Tipo</td>
                        <td>@servico.Tempo</td>
                        <td class="tb-td">@servico.Valor</td>
                    </tr>
                }
            </tbody>

        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-lg btn-primary botao-edit" data-toggle="modal" data-target="#servicoModal">
            Novo Serviço
        </button>
    </div>
</section>

<!-- Modal -->
<div class="modal fade produtoModal" id="servicoModal" tabindex="-1" role="dialog" aria-labelledby="servicoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content produtoModal">
            <div class="modal-header servicoModal">
                <h5 class="modal-title" id="servicoModalLabel">Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body servicoModal">
                <form action="/Servico/AdicionarServico" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label class="texto-label" for="tipo">Tipo do Serviço</label>
                            <input name="servico.Tipo" id="tipo" type="text" class="form-control" required />
                        </div>
                        <div class="form-group col-md-5">
                            <label class="texto-label" for="valor">Valor do Serviço</label>
                            <input name="servico.Valor" id="valor" type="number" class="form-control" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="texto-label" for="tempo">Tempo do Serviço (Minutos)</label>
                            <input name="servico.Tempo" id="tempo" type="number" class="form-control" maxlength="3" required />
                        </div>

                    </div>
                    <div class="modal-footer servicoModal">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar Serviço</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    var btn = document.querySelector('.btn5');
    btn.classList.add("active");
</script>