<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/css/Estilo.css" rel="stylesheet">
    <link rel="icon" href="~/Content/imagens/favicon.ico" />
    <title>Salão Virtual</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="cab">

    </div>
    <div class="corp">
        

        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="rodape">
        &copy;
    </footer>
</body>
</html>
