<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="icon" href="~/Content/imagens/favicon.ico" />
    <title>Salão Virtual</title>

    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-css/bootstrap.css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/css/Estilo.css" />
</head>
<body>
    @RenderBody()
    <script src="~/Content/js/jquery-3.4.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/viaCEP.js"></script>

    <script src="~/Content/template-js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="~/Content/template-js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/template-js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="~/Content/template-js/akame.bundle.js"></script>
    <!-- Active -->
    <script src="~/Content/template-js/default-assets/active.js"></script>
</body>

</html>
