<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
