<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Css/reset.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/sb-admin-2.min.css" />
    <link rel="stylesheet" href="~/Content/css/Estilo.css" />
    <link rel="icon" href="~/Content/imagens/favicon.ico" />
    <title>Salão Virtual</title>
    <meta charset="utf-8" />
</head>
<body>
    @RenderBody()
    <script src="~/Content/js/viaCEP.js"></script>
</body>

</html>
